.section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(md){
        padding-bottom: 3rem;
        padding-top: 3rem;

    }
}

.page-hero{
    position: relative;
    &::before{
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top:0px;
        left: 0px;
        background-image: url('../../assets/pattern-hero.png');

    }
    .page-hero-content{
        min-height:336px ;
        background-size: cover;
        background-position: center;
    }
}

nav{
    height: 80px;
    font-size: 1.2 rem;
    font-weight: bold;
}

h2{
    text-transform: uppercase;
}

.box-category{
    .box-category-content{
        min-height:300px ;
        background-size: cover;
    }
}

.blog-post{
        height:300px ;
        
    }

    #newsletter{
        height: calc(1.5em + 1.5rem + 2px);
        border: 1px solid white;

    }


#footer-red{
    font-size: 0.7rem;
    &.a {
        color:white;
        text-decoration: underline;
    }
}



// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) { 

}
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 

}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 

}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

}