* {
    outline: none!important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100%;
    @extend %no-scrollbar;
       
    @include media-breakpoint-down(sm) {
        &.admin-bar main {
            margin-top: 0px;
        }
        #wpadminbar {
            display: none;
        }
    }

    @include media-breakpoint-up(sm) {
        &.admin-bar .fixed-top {
            top: 46px;
        }
    }
    
    @include media-breakpoint-up(md) {
        &.admin-bar .fixed-top {
            top: 32px;
        }
    }
}

.navbar-brand {
    height: 40px;
    img {
        height: 100%;
        width: auto;
    }
}

.section-y-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include media-breakpoint-up(md) { 
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.page-hero {
    position: relative;
    background-size: cover;
    background-position: center;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        // background-color: rgba($color: #000000, $alpha: 0.2);
        background-image: url('#{$images-path}/pattern-hero.png');
    }
    .page-hero-content {
        min-height: 336px;
        h1, h2, p {
            color: $white;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        }
    }
}

.section-who-we-are {
    position: relative;
    img.img-who-we-are {
        position: absolute;
        top: 0px;
        height: 100%;
        width: auto;
    }
}

.pagination {
    width: 100%;
    .nav-links {
        margin: 0 auto;
    }
}

/**
* Tease
*/

// tease category
.tease-category {
    position: relative;
    height: 275px;
    @include media-breakpoint-up(md) {
        height: 300px;
    }
}

//map
.acf-map {
    width: 100%;
    height: 400px;
    margin: 20px 0; 
}

// Fixes potential theme css conflict.
.acf-map img {
   max-width: inherit !important
   ;}


#tag a{
    border: 1px solid;
    padding:5px;
}

.wpcf7-form-control-wrap textarea{
    height: 100px;
    width: 350px;
}


.entry-title{
    font-size: 6rem;
    font-weight: bold;
}

.error404-content{
    img{
        max-height:300px;
        max-width:90vw;
    }
   
}

.wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok{
    color:black;
}