.page-footer {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 15px;
    background-color: $primary;
    color: $white;


    a {
        color: $white;
    }
}

.footer-img{
    max-width: 116px;
    height: auto;
    margin-bottom: 30px;
}

.pre-footer{
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-icon{
    height: 31px;
    width: auto;

}

.social-icon:hover{
    opacity: 0.7;

}

footer .wpcf7-email{
    border:none;
    min-height: 30px;
    max-width: 350px;
    margin-right: 10px;
    padding-left: 15px;

}
.wpcf7-email:focus {
    border:1px solid black;
  }

